html, body {
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header {
    width: 100%;
    background: #333333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: -17px;
    height: 120px;
}
header .logo {
    font-size: 36px;
    font-weight: 700;
    padding-top: 10px;
}
.types {
  margin-top: 10px;
}
.type {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 4px;
}
#work-button {
    background: #1D7EC6;
}
#project-button {
    background: #C92228;
}
#art-button {
    background: #FFE324;
}
.timeline {
  background: #F4F4F4;
  min-height: calc(100vh - 120px)
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #333;
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(-30px);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}
.timeline ul li h4 {
  font-size: 30px;
}
.timeline ul li h5 {
  font-size: 14px;
  font-weight: 100;
  margin-top: 5px;
}
.timeline ul li .work-item {
  background: #1D7EC6;
}
.timeline ul li .project-item {
  background: #C92228;
}
.timeline ul li .art-item {
  background: #FFE324;
}
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
}
.timeline ul li:nth-child(odd) .work-item::before {
  border-color: transparent #1D7EC6 transparent transparent;
}
.timeline ul li:nth-child(odd) .project-item::before {
  border-color: transparent #C92228 transparent transparent;
}
.timeline ul li:nth-child(odd) .art-item::before {
  border-color: transparent #FFE324 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
}
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #F45B69;
}
.timeline ul li:nth-child(even) .work-item::before {
  border-color: transparent transparent transparent #1D7EC6;
}
.timeline ul li:nth-child(even) .project-item::before {
  border-color: transparent transparent transparent #C92228;
}
.timeline ul li:nth-child(even) .art-item::before {
  border-color: transparent transparent transparent #FFE324;
}

/* FOOTER */
footer {
  background: #333;
  color: #fff;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
