html, body {
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header {
    width: 100%;
    background: #333333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: -17px;
    height: 120px;
}
header .logo {
    font-size: 36px;
    font-weight: 700;
}
.types {
  margin-top: 10px;
}
.type {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 4px;
}
#work-button {
    background: #1D7EC6;
}
#project-button {
    background: #C92228;
}
#art-button {
    background: #FFE324;
}
.timeline {
  background: #F4F4F4;
  min-height: calc(100vh - 120px)
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  background: #333333;
  padding-top: 50px;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  left: 45px;
  border-radius: 4px;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}
.work-item {
  background: #1D7EC6
}
.project-item {
  background: #C92228;
}
.art-item {
  background: #FFE324;
}
.timeline ul li .work-item::before {
  border-color: transparent #1D7EC6 transparent transparent;
}
.timeline ul li .project-item::before {
  border-color: transparent #C92228 transparent transparent;
}
.timeline ul li .art-item::before {
  border-color: transparent #FFE324 transparent transparent;
}
.timeline ul li {
  color: #fff
}
.timeline ul li h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.timeline ul li h5 {
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
}
