html, body {
	width: 100%;
	margin: 0px;
	background: #2C3E58;
	font-family: 'Helvetica Neue', sans-serif;
}
header {
	background: #fff;
	color: #2C3E58;
	height: 70px;
	border-bottom: 10px solid #7e91ae;
	font-size: 24px;
	font-weight: bolder;
	text-align: center;
}
#logo {
	line-height: 40px;
}
nav {
	color: #2C3E58;
	font-size: 18px;
	font-weight: 200;
}
#content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px;
}
#listen_header {
	padding: 10px 0px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
#song_header {
	padding: 10px 0px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
.song {
	margin: 10px 0px;
	height: 100px;
	background: #fff;
	color: #2B3D59;
}
.art {
	width: 100px;
	float: left;
}
.right {
	width: calc (100% - 100px;);
	float: left;
	margin-left: 20px;
	line-height: 100px;
}
.name {
	font-size: 18px;
}
.song:hover {
	background: #f2f2f2;
}
/*****ARCHIVE*****/
a {
	color: inherit;
	text-decoration: none;
}
.week_link {
	text-align: center;
	color: #fff;
	font-size: 24px;
}
.week_link:hover {
	color: #efefef;
}
#songs {
	display: none;
}
