body {
    background: #E9E7E6;
    font-family: 'Open Sans', sans-serif;
}
nav {
    width: 100%;
    height: 50px;
    background: #2A3143;
    padding: 10px;
}
.logo {
    color: #fff;
    font-size: 19px;
    display: inline-block;
}
.add-button {
    color: #fff;
    background: #D04F3A;
    width: 150px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    padding-top: 8px;
    box-shadow: 0 2px 0 #BA4734;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
}
.add-button:hover {
    cursor: pointer;
}
.add-button:active {
    box-shadow: none;
    margin-top: 2px;
}
.events {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.section-header {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #7F7B7E;
}
.section-title {
  width: 100%;
  height: 9px;
  border-bottom: 1px solid #7F7B7E;
  text-align: left;
}
.section-title span {
  font-size: 11px;
  background-color: #E9E7E6;
  padding-right: 10px;
  font-weight: 700;
  color: #7F7B7E;
  text-transform: uppercase;
}
.event {
    width: 100%;
    height: 100px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
    margin: 20px 0px;
    border-radius: 4px;
    background: #fff;
}
.event .photo {
    width: 120px;
    height: 100%;
    float: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.event .info {
    height: 100%;
    float: left;
    padding: 10px;
}
.event .title {
    font-weight: 700;
}
.slideshow {
    width: 100%;
    height: 250px;
    background: #302B27;
    overflow: scroll;
    padding: 8px;
}
.slideshow .photo {
    height: 100%;
    width: 300px;
    background: #edaf41;
    display: inline-block;
    margin-right: 8px;
}
.slideshow .slideshow-inner {
  width: auto;
}
