body {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  margin-bottom: 32px;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.12);
  height: auto;
}

section {
  text-align: center;
  border-top: 1px solid black;
  max-width: 800px;
  margin: auto;
  margin-top: 32px;
  padding: 0 16px;
}

.flex {
  display: flex;
  object-fit: contain;
}

.felx img {
  width: 100%;
}
