body {
    background: #6F199A;
    color: #fff;
}
h1 {
    font-size: 50px;
    font-weight: 800;
}
section {
    padding: 16px;
}
.max-width {
    max-width: 960px;
    margin: 0 auto;
}
.project {
    padding: 80px 90px;
    background: #fff;
    color: #333;
    margin-bottom: 100px;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.project .title {
    font-size: 32px;
    font-weight: 400;
}
.project .sub {
    font-size: 18px;
    font-weight: 300;
    color: #777;
}
.project p {
    line-height: 1.6em;
}
