html, body {
	width: 100%;
	margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    /*background: #FDECDC;*/
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 10px;
}
#header {
    text-align: center;
    font-size: 60px;
    color: #FC453A;
    font-weight: 900;
    margin-bottom: 30px;
}
#one {
    height: 100vh;
    width: 100vw;
    background: #28405B;
}
#two {
    width: 100vw;
    height: 100vh;
    background: #FDECDC;
}
#member_header {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}
#member_list {

}
#member_wrapper {
    width: 30%;
    float: left;
}
.member {
    text-align: left;
    line-height: 2.5em;
    color: #28405B;

    font-weight: 200;
}
#role_wrapper {
    width: 70%;
    float: right;
}
.role {
    text-align: right;
    line-height: 2.5em;
    color: #28405B;
    font-weight: 200;
}
